<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>SimpleJsonRPCTests</display-name>
	<servlet>
		<servlet-name>SomeService1</servlet-name>
		<servlet-class>org.simplejsonrpc.SimpleJsonRPCServlet</servlet-class>
		<init-param>
			<param-name>service-class</param-name>
			<param-value>test.SomeClass</param-value>
		</init-param>
		<init-param>
			<param-name>service-context</param-name>
			<param-value>session</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SomeService1</servlet-name>
		<url-pattern>/SomeService1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SomeService2</servlet-name>
		<servlet-class>org.simplejsonrpc.SimpleJsonRPCServlet</servlet-class>
		<init-param>
			<param-name>service-class</param-name>
			<param-value>test.SomeClass</param-value>
		</init-param>
		<init-param>
			<param-name>service-context</param-name>
			<param-value>servlet</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SomeService2</servlet-name>
		<url-pattern>/SomeService2</url-pattern>
	</servlet-mapping>
</web-app>